

    h2 {
        text-align: center;
    }


   
    input {
        padding: 10px 20px;
        margin-left: 15px;
        width: 80%;
        border-style: none;
        border: none;
        border-radius:17px 0 0 17px;
    }

  


