

    h2 {
        text-align: center;
    }


   
    input {
        padding: 10px 20px;
        margin-left: 15px;
        width: 80%;
        border-style: none;
        border: none;
        border-radius: 10px;
    }

    @media screen and (max-width: 768px) {
        
        input {
            min-width: 22.5em;
        }
      }

  


