

.app-employee-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .employee-name {
      font-size: 22px;
      font-weight: 500;
      margin-left: 20px;
      cursor: pointer;
      color: rgba(174, 99, 0, 0.666);
    }
  
    .employee-salary {
      background: none;
      border: none;
      color: rgba(174, 99, 0, 0.666);
      font-size: 22px;
    }
  
    .employee-btns {
      display: flex;
      gap: 8px;
  
      button {
        border: none;
        padding: 12px 24px;
        border-radius: 8px;
        cursor: pointer;
        background: #fefefe;
        svg {
          width: 24px;
          height: 24px;
        }

        
       
      }
    }

    button:hover {
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4); 
      transition: ease-in-out 0.2s;
    }

    &.increased {
      .employee-name, .employee-salary {
        color: rgb(255, 147, 6);

      }
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
  
      .employee-salary {
        min-width: fit-content;
        text-align: center;
      }
    }
   
  }

  