

.app-filter {
    display: flex;
    gap: 16px;
    margin-top: 15px;
    margin-left: 15px;

    button {
       padding: 10px 20px;
       border: none;
       border-radius:10px;
       background: rgba(235, 137, 16, 0.54);
       color: white;
       cursor: pointer;
    }

    button:hover {
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4); 
        transition: ease-in-out 0.2s;
      }

      .active_btn {
        background: rgb(235, 137, 16);
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
}