@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", serif;
}

.search-filter {
  
  background: rgb(247, 249, 126);
}

button, input {
  font-family: inherit;
}

h3 {
  font-size: 32px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 26px !important;
  }

  h2 {
    font-size: 22px !important;
  }

  h3 {
    font-size: 20px !important;
  }
}
